include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
include mixins/call-for-speakers-panel

link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/callforpapers.css')
link(rel='stylesheet', href='/stylesheets/panel.css')
meta(name='description', content='Our continuous call for papers is always open at the Leeds Testing Atelier!')

block content
	- var navitems = ["Sponsor Us","Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	.container
			div
				block callforspeakers
						section(style="padding-top: 100px;")
						section(id='speakerguidance')
							div.container
								+callForSpeakersPanel()
	footer
		p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang
