include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	section(style="padding-top: 75px;")
	.container
		h2 Holy Mackerel. This is embarrassing! 
		section(style="padding-top: 25px;")
		|Dude. What did you do? Testers always exposing where systems are broken. Berate Ash by emailing 
		a(href='mailto:ash_winter@hotmail.co.uk?Subject=Atelier%20Fail') ash_winter@hotmail.co.uk 
		|with all the information you can muster! Just think, what would Cem do?
		section(style="padding-top: 25px;")
		img.lta-logo(src="./images/cemkaner.png")
		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang
