extends layout

block content
	h1= title
	div 
		p Welcome to #{title}
	div 
		p
			| This is the atelier website
			| There are many like it but this one is mine
			| I am nothing without my atelier website
	div
		a(href="/callforpapers"): button(type="button") Submit your awesome idea!
	div
		#map-canvas