extends layout

block content
	div 
		h1 We are back!
		h1 On the 9th of May 2017, the fully independent, punk, Leeds Testing Atelier returns at the amazing Wharf Chambers for a day of learning, collaboration and laughs! 
	div
		h2 Sign Up here
		a(href='http://www.eventbrite.co.uk/e/test-event-tickets-32065109606?ref=ebtnebregn', target='_blank'): img(src='https://www.eventbrite.co.uk/custombutton?eid=32065109606', alt='Eventbrite - Test Event')
	div
		h2 Our amazing speakers!
	div
		p We would absolutely love to hear from you, your successes, your learning, everything in between!
		p This Call for Papers won't close, just submit and we'll get back to you...
		a(href="/callforpapers"): button(type="button") Submit your awesome idea
	div
		p For a bit of inspiration, check out our Atelier archive!
		a(href="/previousateliers"): button(type="button") Peek at previous ateliers
