extends layout

block content
	h1= title
	div 
		p Welcome to #{title}
	div 
		img.lta-logo(src="./images/lta_logo.jpeg")
	div
		p We would absolutely love to hear from you, your successes, your learning, everything in between!
		p This Call for Papers won't close, just submit and we'll get back to you...
		a(href="/callforpapers"): button(type="button") Submit your awesome idea
	div
		p For a bit of inspiration, check out our Atelier archive!
		a(href="/previousateliers"): button(type="button") Peek at previous ateliers
