doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		a(href="/") 
			img.lta-logo(src="./images/lta_logo.jpeg")
	body
		block content
	footer
		p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang