include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
include mixins/speaker-table
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/speakers.css')
meta(name='description', content='All the latest content, speakers, news and events from the Leeds Testing Atelier')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	section(style="padding-top: 100px;")
	img(src="./images/lta_logo.jpeg" class="lta-logo")
	section(style="padding-top: 20px;")
	.container
		div 
			h2 We had an absolute blast! You guys totally rocked!
			h3 On the 23rd of April 2024, the fully independent, punk, Leeds Testing Atelier roared to life again, filling Wharf Chambers with attendees, speakers, sponsors and organisers. Loads of laughter, learning and collaboration ensued! We hope you had fun, the feedback is in and we've got a few things to tweak and some big, serious grown up conversations to have!  
		div
			block speakers
				h2 Check out our previous speakers! Next time, this could be YOU.
					section(style="padding-top: 50px;")
					section(id='speakers')
						div.container
							+speakerTable(speakers)
		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang
