include ../node_modules/jade-bootstrap/_bootstrap
include mixins/nav-header
include mixins/speaker-carousel
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/speakers.css')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers"];
	+navHeader(navitems)
	section(style="padding-top: 50px;")
	img(src="./images/lta_logo.jpeg" class="lta-logo")
	section(style="padding-top: 20px;")
	a(href="https://www.eventbrite.co.uk/e/leeds-free-testing-atelier-tickets-32374786859?ref=ebtnebregn", target='_blank'): img(src="https://www.eventbrite.co.uk/custombutton?eid=32374786859", alt='Eventbrite - Leeds Free Testing Atelier')
	div 
		h2 We are back!
		h3 On the 9th of May 2017, the fully independent, punk, Leeds Testing Atelier returns at the amazing Wharf Chambers for a day of learning, collaboration and laughs! 
	
		block speakers
			h2 Our amazing speakers!
				section(style="padding-top: 50px;")
				section(id='speakers').speakertron
					div.container
						+speakerCarousel('a', speakers)
	footer
		p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang
