include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
include mixins/speaker-table

link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/speakers.css')
link(rel='stylesheet', href='/stylesheets/panel.css')
link(rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1')
script(src='https://js.tito.io/v1' async)
meta(name='description', content='All the latest content, speakers, news and events from the Leeds Testing Atelier')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	section(style="padding-top: 100px;")
	img(src="./images/lta_logo.jpeg" class="lta-logo")
	section(style="padding-top: 20px;")
	.container
		div 
			h3 On the 11th of October 2022, the fully independent, punk, Leeds Testing Atelier returns at the amazing Wharf Chambers for a day of learning, collaboration and laughs! 
			//tito-widget(event="testing-atelier/leeds-testing-atelier-85" ssl-check-disabled)
	
		div
			block speakers
				h2 Check out our amazing speakers! This is gonna be great!
					section(style="padding-top: 50px;")
					section(id='speakers')
						div.container
							+speakerTable(speakers)
		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang
