extends layout

block content
	h1= title
	div 
		p Welcome to #{title}
	div 
		p Atelier III - Wharf Chambers - Tuesday 20th September 2016
		img.gwen-intro(src="./images/gwen_intro.jpg")
	div
		a(href="/callforpapers"): button(type="button") Inspired? Submit today!