extends layout

block content
	h1= title
	div 
		p Welcome to #{title}
	div 
		p Atelier III - Wharf Chambers - Tuesday 20th September 2016
		img.gwen-intro(src="../public/images/gwen_intro.jpg")
	div
		a(href="/feedback"): button(type="button") Let us know your feedback!