include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
include mixins/previous-atelier-table
link(rel='stylesheet', href='/stylesheets/style.css')
meta(name='description', content='All the action from our previous Leeds Testing Atelier events with highlights and pictures')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Code of Conduct"];
	+navHeader(navitems)
	section(style="padding-top: 85px;")
	.container
		div 
			h2 Check out our illustrious history! Such learning!
		div.container
			+previousAtelierTable(previousAteliers)
		footer
				p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang