include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers"];
	+navHeader(navitems)
	section(style="padding-top: 50px;")
	h2 YOU! Robot! Or you forgot the recaptcha. Either way go back one and do the recaptcha like a good android...
	section(style="padding-top: 50px;")
	img.lta-logo(src="./images/marvin.jpg")
	section(style="padding-top: 50px;")
footer
	p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang