include ../node_modules/pug-bootstrap/_bootstrap
include mixins/sponsor-carousel
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/sponsors.css')
meta(name='description', content='All the information and contacts you need as an aspiring sponsor for the Leeds Testing Atelier')

block content
	- var navitems = ["Call for Papers","Previous Ateliers"];
	+navHeader(navitems)
	
	section(style="padding-top: 50px;")

	section(id='amazingsponsors')
			h2 Check out our fabulous sponsors! They pay for your learning, beer and swag!
			section(id='sponsors').sponsortron
				div.container
					+sponsorCarousel('a', sponsors)

	section(id='sponsorus')

		h3 What am I getting myself into as a sponsor?

		p 
			|The Atelier is hosted twice a year and has been hosted at Wharf Chambers, a workers co-op in Leeds which fits with the ethics of the Testing Atelier.  We could originally only host 80 attendees but after expanding to the second floor of Wharf Chambers we can now hold 105 attendees.  The feedback has been very positive, from the last Atelier, 42 people filled out feedback forms. 100% enjoyed the day and 100% would attend again.
			
		p
			|One of the aims of the Atelier is to ensure that we have diversity, therefore we ensure that we have people from different backgrounds speaking, this covers gender as well as job role. The event has a variety of talks, workshops and panels.  Some of the past topics that our talks have covered are; a DBA talking about database unit testing, a tester talking about mobile automation, a recruiter on how to hire great testers, a developer teaching TDD, a build engineer on DevOps adoption, the list goes on. The Atelier is volunteer run by seven people; six testers and a developer and is a day with punk rock vibes by the community for the community. 

		p
			|As the event is free, we need sponsors. Email 
			a(href='mailto:ash@leedstestingcommunity.co.uk?Subject=Atelier%20Sponsorship') ash@leedstestingcommunity.co.uk 
			|or tweet 
			a(href="https://twitter.com/testing_atelier") @testing_atelier 
			|to get involved!

		h3 What does the event cost?

		div(class="cost-table")
			+table-bordered(
					[],
				[
					["Punk Venue","£270"],
					["Lots of Food","£300"],
					["Quite a Few Drinks","£550"],
					["Website Hosting","£50"],
					["Gnarly Wristbands","£80"],
					["Videos and Editing","£250"],
					["Total","£1500"]
				]
			)

		h3 What will I get?

		div(class="benefits")
			p
				|We like to keep the event as low cost for us as well as the sponsors so we require 6 sponsors in total for a cost of £250 each. In return for sponsorship, you will receive the following:

				ul
					li Logo and mention on the website
					li Mention on the day
					li Logo and mention on EventBrite
					li Shout outs on Twitter and LinkedIn in the lead up to the event
					li A ticket if you want it, but please turn up. Its so embarassing when people sponsor and don't turn up.
			p
				|Besides wristbands, we would really like to offer the attendees swag from our sponsors such as stickers, USB drives or any other merchandise that you think is suitable. If you could donate some that would be fantastic!

		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang