include ../node_modules/pug-bootstrap/_bootstrap
include mixins/sponsor-table
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/sponsors.css')
meta(name='description', content='All the information and contacts you need as an aspiring sponsor for the Leeds Testing Atelier')

block content
	- var navitems = ["Call for Papers","Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	
	section(style="padding-top: 75px;")

	.container
		section(id='amazingsponsors')
				h2 Check out our fabulous sponsors! They pay for your learning, beer and swag!
				section(id='sponsors')
					div.container
						+sponsorTable(sponsors)

		section(id='sponsorus')

			h3 What am I getting myself into as a sponsor?

			p 
				|The Atelier is hosted twice a year and is hosted at Wharf Chambers, a workers co-op in Leeds which fits our ethos.  We could originally only host 80 attendees but after expanding to the second floor of Wharf Chambers we can now hold 105 attendees. We are keen to provide a safe space for all involved in testing, however they choose to express themselves.
				
			p
				|Here at the Atelier we value speaker diversity, therefore we encourage people from different backgrounds speaking, this covers gender, ethnicity and job role. The event has a variety of talks, workshops and panels.  Some of the past topics that our talks have covered are; a DBA talking about database unit testing, a tester talking about mobile automation, a recruiter on how to hire great testers, a developer teaching TDD, a build engineer on DevOps adoption, the list goes on. The Atelier is volunteer run and is a day with punk rock vibes by the community for the community. 

			p
				|As the event is free, we need sponsors. Email 
				a(href='mailto:ash@diagramindustries.com?Subject=Atelier%20Sponsorship') ash@diagramindustries.com 
				|or tweet 
				a(href="https://twitter.com/testing_atelier") @testing_atelier 
				|to get involved!

			h3 What does the event cost?

			div(class="cost-table")
				+table-bordered(
						[],
					[
						["Punk Venue","£300"],
						["Lovely Vegan Food","£500"],
						["Quite a Few Drinks","£550"],
						["Website Hosting","£50"],
						["Gnarly Wristbands","£100"],
						["Videos and Editing","£500"],
						["Total","£2000"]
					]
				)

			h3 What will I get?

			div(class="benefits")
				p
					|We like to keep the event as low cost for us as well as the sponsors so we require 6 sponsors in total for a cost of £250 each. In return for sponsorship, you will receive the following:

					ul
						li Logo and mention on the website
						li Grab the giz a job goat and tell everyone about the roles that you have
						li Shout outs on Twitter and LinkedIn in the lead up to the event
						li Two tickets that you can give to anyone in your company
						li Offer the attendees swag from our sponsors such as stickers, USB drives or any other merchandise that you think is suitable.

		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang