include ../node_modules/pug-bootstrap/_bootstrap
include mixins/sponsor-table
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/sponsors.css')
meta(name='description', content='All the information and contacts you need as an aspiring sponsor for the Leeds Testing Atelier')

block content
	- var navitems = ["Call for Papers","Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	
	section(style="padding-top: 75px;")

	.container
		section(id='sponsorus')

			h3 What am I getting myself into as a sponsor?

			p 
				|The Atelier is hosted at The Tetley, Leeds, a former brewery HQ turned awesome event space. Previously hosted at Wharf Chambers, we could originally only host 100 attendees, but since moving to The Tetley in 2025, we invite now over 150 attendees. We are keen to provide a safe space for all involved in testing, however they choose to express themselves.
				
			p
				|Here at the Atelier we value speaker diversity, therefore we encourage people from different backgrounds speaking, this covers gender, ethnicity and job role. The event has a variety of talks, workshops and panels.  Some of the past topics that our talks have covered are; a DBA talking about database unit testing, a tester talking about mobile automation, a recruiter on how to hire great testers, a developer teaching TDD, a build engineer on DevOps adoption, the list goes on. The Atelier is volunteer run and is a day with punk rock vibes by the community for the community. 

			p
				|As the event is free, we need sponsors. Email 
				a(href='mailto:ash@diagramindustries.com?Subject=Atelier%20Sponsorship') ash@diagramindustries.com 
				|or message on LinkedIn 
				a(href="https://www.linkedin.com/company/leeds-testing-atelier/") Leeds Testing Atelier 
				|to get involved!

			h3 What does the event cost?

			div(class="cost-table")
				+table-bordered(
						[],
					[
						["Our beautiful venue","£975"],
						["Lovely Vegan Food","£1500"],
						["Swag","£300"],
						["Tea, Coffee and keeping our attendees hydrated","£550"],
						["Videos and Editing","£600"],
						["Insurance", "£200"],
						["Total","£4125"],
					]
				)

			h3 What will I get?

			div(class="benefits")
				p
					|We like to keep the event as low cost for us as well as the sponsors at a cost of £350 each. In return for sponsorship, you will receive the following:

					ul
						li Logo and mention on the website
						li Grab the giz a job goat and tell everyone about the roles that you have
						li Shout outs on LinkedIn in the lead up to the event
						li Two tickets that you can give to anyone in your company
						li Offer the attendees swag from our sponsors
		section(id='amazingsponsors')
				h2 Check out our latest sponsors!  They pay for your learning, hydration and swag ❤️
				section(id='sponsors')
					div.container
						+sponsorTable(sponsors)
		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang