include ../node_modules/jade-bootstrap/_bootstrap
include mixins/speaker-carousel
link(rel='stylesheet', href='/stylesheets/style.css')

block content
    +navbar-fixed().navbar
        +nav_item("#") Home
        +nav_item("/previousateliers") Previous Ateliers
        +nav_item("/callforpapers") Submit a paper
    .jumbotron
            +a-btn('#speakers', 'default').welcome-button more
        section(id='speakers').speakertron
            div.container
                h2 Speakers
                +speakerCarousel('a', speakers)
                +a-btn('#more', 'default') more
        section(id='more').speakertron
            div.container
                div.row
                    div.col-md-6.col-sm-12
                        p We'd absolutely love to hear from you; your successes, your learning, everything in between!
                        p This "Call for Papers" won't close, just submit and we'll get back to you...
                        +a-btn('/callforpapers', 'default')	Submit your awesome idea
                    div.col-md-6.col-sm-12
                        p For a bit of inspiration, check out our Atelier archive!
                        p We've had a few goes at this, learning all the time, so step back in time and look at some past Ateliers.
                        +a-btn('/previousateliers', 'default') Peek at previous ateliers
