include ../node_modules/pug-bootstrap/_bootstrap
include mixins/nav-header
link(rel='stylesheet', href='/stylesheets/style.css')

block content
	- var navitems = ["Sponsor Us", "Call for Papers", "Previous Ateliers", "Code of Conduct"];
	+navHeader(navitems)
	section(style="padding-top: 75px;")
	.container
		h2 Thanks for your awesome idea, we'll be in touch!
		img.lta-logo(src="./images/thankyou.jpg")
		footer
			p Copyright &copy; #{new Date().getFullYear()} The Atelier Gang

	