.panel {
    background-color: black;
    border-color: white;
    
}

.panel-title {
    color:black;
    font-size: 32px;
}

#speakerguidance {
    color: white;
    font-size: small;
}

.glyphicon {
    font-size: xx-large;
}

#furtherdetailstable > table, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}

.btn, btn-default {
    display: block;
    padding: 10px;
    font-size: 32px;
    justify-content: center;
}