.speakerTable {
  padding-top: 25px;
}

.speaker-image {
  position: relative;
}

.speaker-name, .speaker-title {
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.speaker-bio, .speaker-abstract {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

