.sponsortron {
  padding-top: 25px;
  position: relative;
}

.carousel-indicators {
  display: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top: 0%;
}

.sponsor-about {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cost-table {
  width: 50%;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
}

h2, h3, p {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  padding-right: 10px;
}

