.sponsortron {
  padding-top: 25px;
  background-color: #000;
  position: relative;
}

.carousel-indicators {
  display: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top: 0%;
}

.sponsor-about {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cost-table {
  width: 40%;
  padding: 5px;
  font-size: 14px;
  text-align: left;
}

h2, h3, p {
	padding: 5px;
	padding-top: 10px;
  padding-bottom: 10px;
}

li {
	padding: 10px;
}

