body {
  background-color: black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

button {
	background-color: white;
	display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

form {
    font-size: 24px;
    display:table;
    text-align: left;
    vertical-align: middle;
    margin: 40px;
} 

map-canvas {
	height: 75%;
	width: 75%;
	margin: 0px;
	padding: 0px;
}

hr {
    size: 5px;
}

.lta-logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}