mixin sponsorTable(sponsors)
    each sponsor in sponsors
        table
            tr
                td.mugshot
                    img.image(src='/'+sponsor.picture, alt=sponsor.name)
                td.blurb
                    h2.sponsor-name #{sponsor.name}
                    h4.sponsor-about #{sponsor.about}
            br